<%- include('partials/header') %>

  <div class="page-header header-filter" data-parallax="true" style="background-image: url('/images/header-image.jpeg')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title" style="color: yellow; font-family:Candara;">NSS-VGEC Covid-19 Learning Center</h1>
          <h4 style="color: white"><b>Knowing your enemy is the first step towards your WIN!</b></h4>
          <br>
          <a href="https://youtu.be/IvzoG0r2XXo" target="_blank" class="btn btn-danger btn-raised btn-lg">
            <i class="fa fa-play"></i> Watch video
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">How to use this website</h2>
            <h5 class="description">You can do the following things on this website. Have fun!</h5>
          </div>
        </div>
        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="info">

                  <img src="/images/learn2.png" class="img-raised rounded-circle img-fluid equal-image" alt="">

                <h4 class="info-title">Read the Content</h4>
                <p>Read hand picked content comprising of facts and details related to various topics of Covid-19</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">

                  <img src="/images/watch.png" class="img-raised rounded-circle img-fluid equal-image" alt="" >

                <h4 class="info-title">Watch the Video</h4>
                <p>Watch some amazing and selected videos which are sure to increase your knowledge about Covid-19 and its effects</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <img src="/images/quiz3.jpg" class="img-raised rounded-circle img-fluid equal-image" alt="" >
                <h4 class="info-title">Take the Quiz</h4>
                <p>Test and verify your knowledge by taking the quiz.</p> <h5 style="color: tomato;"><b>Top scorers will be given a shout out on our Insta page!</b></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 ml-auto mr-auto text-center">
          <form class="" action="/" method="post">

            <button  type="submit" class="btn btn-lg btn-primary btn-raised">
              Head to Learnings Page!
            </button>

          </form>

        </div>

      </div>
      <br><br>
      
    </div>
  </div>
  <%- include('partials/footer') %>
