<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <!-- <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png"> -->
  <!-- <link rel="icon" type="image/png" href="../assets/img/favicon.png"> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    NSS-VGEC Corona Fighters
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="/css/material-kit.css?v=2.0.7" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <!-- <link href="../assets/demo/demo.css" rel="stylesheet" /> -->
  <script>
    $(document).ready(function() {
  $('.collapse.in').prev('.panel-heading').addClass('active');
  $('#accordion, #bs-collapse')
    .on('show.bs.collapse', function(a) {
      $(a.target).prev('.panel-heading').addClass('active');
    })
    .on('hide.bs.collapse', function(a) {
      $(a.target).prev('.panel-heading').removeClass('active');
    });
});
  </script>
</head>

<body class="landing-page sidebar-collapse">
  <div>


  <nav class="navbar   navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#">
         NSS-VGEC </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="/" class=" nav-link" >
              <i class="material-icons">home</i> Home
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_blank">
              <i class="material-icons">error</i>Report Bugs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/nssvgec?lang=en" target="_blank" data-original-title="Follow us on Twitter" rel="nofollow">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="facebook.com/nss.vgec/" target="_blank" data-original-title="Like us on Facebook" rel="nofollow">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/nss_vgec_official/" target="_blank" data-original-title="Follow us on Instagram" rel="nofollow">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


  <div class="container">


  <div class="">
    <h3>Kickstart your Learning with our daily doses!</h3>
    <div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          DAY 1
        </a>
      </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body container">

           <div class="row">
             <div class="col-6 text-center">
              <h3 class="title">What is Covid 19</h3>
              </div>
              <div class="col-6" style="padding: 5%;"><img src="/images/corona-img.jpg" class=" rounded img-fluid" alt=""></div>
          </div>
            
           
           
           
            <p>All coronaviruses are transmitted from animals to humans, making them zoonotic diseases. SARS was identified as having been transmitted through civet cats; while MERS was transmitted through dromedary camels. However, this latest outbreak which was first identified in Wuhan, China in December 2019 is thought to be more dangerous than SARS and MERS, though it is of the same family of respiratory diseases. It begins as a common cold which makes it so difficult to detect as providers might get misled into imagining it to be a self-limiting ailment, and not undertake any intervention beyond the symptomatic till it is very late.</p>
            <h4 class="info-title">The First Pandemic of this century</h4>

            <p>The World Health Organization declared the current outbreak of the COVID-19 a pandemic on March 11, 2020. The Centers for Disease Control and Prevention (CDC) of the USA warned of major disruptions in public life, and in healthcare in the coming weeks. Even if numerically more people are dying of the seasonal influenza, you need to worry as ratio of infection to death is at an alarming 5:1 ratio. That means 20 percent of infected people are dying.</p>  <br>
            <div id="iframeDiv" class="embed-responsive embed-responsive-16by9 " >

              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sHP0UIdZyI4" frameborder="0" width="200" height="300" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <br>

            </div>
            <form class="" action="/learning" method="post">
              <center>
                <button type="submit" class="btn btn-warning " name="DayNo" value="day1">Go To Quiz</button>
                </center>

            </form>


          </div>
        </div>
      </div>
      <!-- end of panel -->

      <div class="panel">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          DAY 2
        </a>
      </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body container">

            <div class="row">
              <div class="col-6 text-center">
               <h3 class="title">Covid Q & A</h3>
               </div>
               <div class="col-6" style="padding: 5%;"><img src="/images/q&a.jpg" class=" rounded img-fluid" alt=""></div>
           
           </div>
           
           <h4 class="info-title">Are there differences between symptoms caused by the flu and COVID-19?</h4>
           <p>Cough and cold could mean an allergy. A fever with cough and cold is a symptom of the flu. When you have fever with a cough which is complicated by breathlessness, it is a symptom of Corona virus infection and you must call your doctor to rule it out.</p>
            
           <h4 class="info-title">How effective are thermal scanners in detecting people infected with the new corona </h4>
           <p>Thermal scanners are effective in detecting people who have developed a fever (i.e. have a higher than normal body temperature) because of infection with the new corona virus. However, they cannot detect people who are infected but are not yet sick with fever. This is because it takes between 2 and 10 days before people who are infected become sick and develop a fever.</p>
           <h4 class="info-title">Should people avoid eating meat-based food to prevent transmission? </h4>
           <p>It is a respiratory virus and not a food-borne one. Doctors say that meat need not be entirely cut out of the diet, but consumption of raw meat should definitely be avoided. Dr. Anant Mohan from the Pulmonary Medicine Department at All India Institutes of Medical Sciences (AIIMS), Delhi, said to NDTV, "The rumour has emerged because most of those infected in Wuhan had some contact with one of the sea food markets in that place. There is no conclusive evidence as far as meat or diet is concerned. But, as a precaution and especially in India, it is a good idea, generally also, to avoid raw meat. It is better to have cooked meat. As of now, there is no advisory that prevents you from eating any non-vegetarian food. But it should always be a well-cooked food. That should be safe enough."
            </p>
           <h4 class="info-title">Are antibiotics effective in preventing and treating the new corona virus?</h4>
           <p>No, antibiotics do not work against viruses, only bacteria. The new corona virus (2019-nCoV) is a virus and, therefore, antibiotics should not be used as a means of prevention or treatment.
            However, if you are hospitalized for the 2019-nCoV, you may receive antibiotics because bacterial co-infection is possible.
            </p>
            
           <h4 class="info-title">Can I catch COVID-19 from my pet?</h4>
           <p> Several dogs and cats (domestic cats and a tiger) in contact with infected humans have tested positive for COVID-19. In addition, ferrets appear to be susceptible to the infection. In experimental conditions, both cats and ferrets were able to transmit infection to other animals of the same species, but there is no evidence that these animals can transmit the disease to human and play a role in spreading COVID-19. COVID-19 is mainly spread through droplets produced when an infected person coughs, sneezes, or speaks.

            It is still recommended that people who are sick with COVID-19 and people who are at risk limit contact with companion and other animals. When handling and caring for animals, basic hygiene measures should always be implemented. This includes hand washing after handling animals, their food, or supplies, as well as avoiding kissing, licking or sharing food.</p>
            

            <h4 class="info-title">How to grocery shop safely?</h4>
           <p>When grocery shopping, keep at least 1-metre distance from others and avoid touching your eyes, mouth and nose. If possible, sanitize the handles of shopping trolleys or baskets before shopping. Once home, wash your hands thoroughly and also after handling and storing your purchased products. </p>
          
           <div id="iframeDiv" class="embed-responsive embed-responsive-16by9 " >

            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XSzatJEpRno" frameborder="0" width="200" height="300" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>

          </div>
          <form class="" action="/learning" method="post">
            <center>
              <button type="submit" class="btn btn-warning " name="DayNo" value="day2">Go To Quiz</button>
              </center>

          </form>
          </div>
        </div>
      </div>
      <!-- end of panel -->

      <div class="panel">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          DAY 3
        </a>
      </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            Coming Soon! Stay Tuned
            </div>
        </div>
      </div>
      <!-- end of panel -->

      <div class="panel">
        <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        DAY 4
        </a>
      </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body">
          Coming Soon! Stay Tuned  </div>
        </div>
      </div>
      <!-- end of panel -->

    </div>
    <!-- end of #accordion -->

  </div>
  <!-- end of wrap -->

</div>
<!-- end of container -->


  <script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous"></script>


  <%- include('partials/footer') %>
