<%- include('partials/header') %>
<link rel="stylesheet" href="/css/quizcomp.css">


    <div class="thumbnail text-center">
        <img src="/images/congoimg.png" alt="" class="img-fluid">
        <div class="caption">
            <p style="color:black"><h1 style="font-size:8vw"><%= nameUser %><br /></h1><h5 style="font-size:4vw">Your Score is <%= score %></h5></p>
        </div>
    </div>




<%- include('partials/footer') %>
