<%- include('partials/header') %>
<link rel="stylesheet" href="/css/quizcomp.css">

  
    <div class="thumbnail text-center">
        <img src="/images/congoimg.png" alt="" class="img-fluid">
        <div class="caption">
            <p style="color:black"><h5>Your Score is <%= score %></h5></p>
        </div>
    </div>




<%- include('partials/footer') %>
